<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NQKCXB2BH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2NQKCXB2BH');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gitparse</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="sticky-header">
  <div class="header-content">
    <div class="logo">gitparse</div>
    <div class="nav-menu">
      <a href="https://github.com/samair/gitparse">GitHub</a>
      <a href="#about">API</a>
    </div>
  </div>
</div>

<div class="typewriter">
  <h1>Make your git repository prompt friendly</h1>
  <p>Get repository structure, file content of your git repository in a prompt friendly fashion.</p>
  <p class="username">Use the API </p>

 <div class="copy-code">
  <pre><code id="copy_api_code">curl https://gitparse.com/api/v1/parse/https://github.com/samair/gitparse</code></pre>
   <button  onclick="copyToClipboard(this, 'copy_api_code')">📋</button>
 </div>
  <p>or</p>
 </div>
  <div class="search-bar">
    <input
            type="url"
            name="parse_input"
            id="parse_input"
            pattern="https://.*.com"
            placeholder="https://github.com/samair/gitparse"
    />
    <button  onclick="parseGitRepo()">Parse</button>

  </div>
<div id="loading-overlay" class="loading-overlay" style="display: none;">
  <div class="loading-animation"></div>
</div>
<main id="main-content">
  <div class="overall-actions">
    <button class="copy-btn" onclick="downloadAsText(this)">Download</button>
  </div>
<div class="display-section">


  <div class="display">
    <div class="display-body">
      <div class="display-header">
        <strong id="repo-name" class="username">{{name}}</strong>
        <span id="commit-time" class="timestamp">last commit on {{lastCommit}}</span>
      </div>
      <div class="display-content">
        <p>File Structure</p>
        <div class="code-section">
          <button class="copy-btn"  onclick="copyToClipboard(this, 'repo-structure')">📋</button>
          <pre><code id="repo-structure">{{fileStructure}}</code></pre>

        </div>
      </div>
    </div>
  </div>
  <div class="display">
    <div class="display-body">
      <div class="display-content">
        <p>File Content</p>
        <div class="code-section">
          <button  class="copy-btn" onclick="copyToClipboard(this, 'repo-content')">📋</button>
          <pre><code id="repo-content">{{repoContent}}</code></pre>
        </div>
      </div>

    </div>
  </div>
</div>
  <!-- The actual snackbar -->

</main>
<div id="snackbar">Some text some message..</div>
<script src="/js/script.js"></script>
</body>
</html>
